@charset "UTF-8";

html, body {
  margin: 0;
  font-family: 'Source Sans Pro',"游ゴシック","YuGothic",sans-serif;
  background-color: #ddd;
  /*color: #fff;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.36;
  /* firefoxでは%指定でのmin-height/max-heightが効かなくなるので明示的な高さ指定が必要 */
  height: 100%;
  overflow: hidden;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
  margin-bottom: .45em;
  padding: 0;
}

h1, h2 {
  font-weight: lighter;
}

h1 {
  /*font-size: 3.3em; */
  font-size: 2.6em; 
  margin-bottom: 0;
  display: inline-block;
  width: auto;
}

h2 {
  font-size: 2.8em; 
  font-weight: 100;
}

h3 {
  font-size: 1.8em; 
  margin-bottom: .4em;
}

h4 {
  font-size: 1.4em;
  margin: .3em 0;
}

p {
  margin: 0; 
  margin-bottom: 1em;
}

a {
  color: inherit;
}

header {
  margin-bottom: -0.36em;
  padding: 0.1em 0 0 1em;
  background-color: #1A1A1A;
  position: relative;
  z-index: 1000;
  color: #fff;
}

header a {
  text-decoration: none;
}

#menu {
  width: 20%;
  height: 100%;
  padding: 2em 0;
  padding-left: 1em;
  top: 0;
  left: 0;
  float: left;
  background-color: #fff;
}

#menu ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#menu ul > li > ul {
  padding-left: 1.5em;
}

#menu li {
  line-height: 2em;
}

#view {
  margin-top: 0.36em;
  width: 80%;
  height: 100%;
  height: calc(100% - 3.51em);
  position: relative;
  top: 0;
  right: 0;
}

#copyright {
  display: inline-block;
  padding-left: 1em;
}

#view-raw {
  display: none!important;
}

#share {
  position: absolute;
  top: 1.2em;
  right: 0;
  width: 105px;
}